@font-face {
  font-family: 'MyriadProRegular';
  src: url('/fonts/MyriadProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-myriad {
  font-family: 'MyriadProRegular', sans-serif;
}